.trans {
    opacity: 1.0;
    animation: opacity-transition 2s ease-out 1;
}

@keyframes opacity-transition {
    0%   { display: none ; opacity: 0 }
    1%   { display: block; opacity: 0 }
    top  { display: block; opacity: 1 }
}