@import './pages/home/style.pcss';
@import './pages/style.pcss';
@import './components/components.pcss';

* {
    margin: 0;
    font-family: fira_code;
}


@font-face {
  font-family: 'fira_code';
  src: url('./fonts/firacode/FiraCode-VF.woff2.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
}
