@import './pages/home/style.pcss';
@import './components/components.pcss';

* {
    margin: 0;
    font-family: fira_code;
}

@font-face {
    font-family: fira_code;
    src: url("../fonts/FiraCode-VariableFont_wght.ttf")
}

